
/*Forsiden */
  #introtekst {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  #refleksion {

    font-style: italic;

}
  
/*Navbar start*/
.nav {
  background-color: #333;
  overflow: hidden;
 
}


.nav a {
  float: left;
  color:  rgb(226, 226, 226);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
  
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}


.nav a.active {
  background-color: #4CAF50;
  color: white;
}

/*Navbar slut*/

/*Til billeder*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

 .sp {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 } 

 img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

 /*Til billeder slut*/

 h1 {
  font-family: sans-serif;
  font-size: 2em;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 20px;
}

  h2 {
    font-size: 1.5em;
    text-align: center;
    
  }


  h3 {
    font-size: 1em;
    text-align: center;
    
  }

 body {
  font-family: sans-serif;
  font-size: 1em;
  background-color: rgb(182, 182, 182);
  color: rgb(0, 0, 0); 
  margin: 20px;
}

  footer {
    font-size: 1em;
    color: rgb(247, 240, 240);
    text-align: center;
    background-color: black;
  }
  
  footer p {
    margin: 0;
    padding: 20px;
  }

 iframe {
  display: block;
  margin: 0 auto;
  height: 100%;
  width:100%;
}


  .row {
    display: flex;
  }
  
  .column {
    flex: 40;
    padding: 5px;
  }
 
  /*Design thinking grid 1 start*/
  #dtgrid { 
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-row-gap: 50px;
    grid-template-areas: 
    "gruppe grundlag"
    "tobias mie"
  }
  
  #gruppe {

  grid-area: gruppe

  }

  #grundlag {

    grid-area: grundlag;

  }

  #tobias {

    grid-area: tobias;

  }

  #mie {

    grid-area: mie;

  }
 /*Design thinking grid 1 slut*/

 /*Design thinking grid 2 start*/

 #dtgrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-template-areas: 
  "brainstorm1 gruppe2"
  "nicklas skivebib"

 }

 #brainstorm1 {

  grid-area: brainstorm1;

 }

 #gruppe2 {

  grid-area: gruppe2;
 }

 #nicklas {

  grid-area: nicklas;
 }

 #skivebib {

  grid-area: skivebib;

 }

 /* Design thinking grid 2 slut*/

 /* Design thinking grid 3 start*/

 #dtgrid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-template-areas: 
  "ide brainstorm"

 }

  #ide {

    grid-area: ide;

  }

  #brainstorm {

    grid-area: brainstorm;
  }

  /* Design Thinking grid 3 slut*/
 

  /*Desktop */
  @media screen and (min-width: 1000px) {

    h1 {
      font-size: 2em;
      margin-top: 5px;
      text-align: center;
      padding-bottom: 20px;
    }

    h2 {
      size: 1.5em;
      text-align: center;
      padding-top: 50px;
    }
  
  
    h3 {
      size: 1m;
      text-align: center;
      padding-top: 50px;
    }

    body {
  
      font-size: 1.2em;
      margin: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    

    footer {
      font-size: 1em;
      color: rgb(247, 240, 240);
      text-align: center;
      background-color: black;
    }
    
    footer p {
      margin: 0;
      padding: 20px;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }


    /*Photoshop grid start*/
    #psgrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 50px;
      grid-template-areas: 
      "aminat mig2"
      "magicarsten magimorten"
      "maginiels magnus"
      "reklame reklame"
      "test1 test3"
    
      }

      #aminat {

        grid-area: aminat;
      }      

      #mig2 {

        grid-area: mig2;
      }

      #magicarsten {

        grid-area: magicarsten;
      }

      #magimorten {

        grid-area: magimorten;
      }

      #maginiels {

        grid-area: maginiels;
      }

      #magnus {

        grid-area: magnus;
      }

      #reklame {

        grid-area: reklame;
      }

      #test1 {

        grid-area: test1;
      }

      #test3 {

        grid-area: test3;
      }

      /*Photoshop grid slut*/

      /* Fotografi grids*/
    #fotogrid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 50px;
      grid-template-areas: 
      "kortlukkertid langlukkertid"
    
      }
      
      #kortlukkertid {
    
        grid-area: kortlukkertid;
      }
    
      #langlukkertid {
    
        grid-area: langlukkertid;
      }
    
      #fotogrid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        grid-template-areas: 
        "iso100 iso25600"
      
        }
        
      #iso100 {
    
        grid-area: iso100; 
      }
    
      #iso25600 {
        
        grid-area: iso25600;
      }
    
      #fotogrid3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        grid-template-areas: 
        "f1 f16"
      
        }
            
      #f1 {
    
        grid-area: f1;
      }
    
      #f16 {
    
        grid-area: f16;
      }
    
           
      #fotogrid4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        grid-template-areas: 
        "foto1 foto1"
        "foto2 foto2"
        "foto3 foto4"
        
        }

        #foto1 {

          grid-area: foto1;
        }

        #foto2 { 

          grid-area: foto2;
        }

        #foto3 {

          grid-area: foto3;
        }

        #foto4 {

          grid-area: foto4;
        }
        /*Fotografi grids slut*/

        /*One page grid start*/
        
        #onepagegrid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 50px;
          grid-template-areas: 
          "b2 b1"
          "b3 b4"
          "b7 b8"
                     
        }
  
          #b1 {
  
            grid-area: b1;
          }
  
          #b2 { 
  
            grid-area: b2;
          }
  
          #b3 {
  
            grid-area: b3;
          }
  
          #b4 {
  
            grid-area: b4;
          }

          #b7 {

            grid-area: b7;
          }

          #b8 {

            grid-area: b8;
          }

        /* Onepage grid slut*/

        /* Illustrator grid start*/
        #illgrid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 50px;
          grid-template-areas: 
          "c celtic"
          "skjold logo"
          "sol trekant"
          "plante foxwip"
        }

        #c {
          grid-area: c;
        }
        
        #celtic {

          grid-area: celtic;
        }

        #foxwip {

          grid-area: foxwip;
        }

        #foxwip2 {

          grid-area: foxwip2;
        }

        #logo {

          grid-area: logo;
        }

        #plante {

          grid-area: plante;
        }

        #skjold {

          grid-area: skjold; 
        }

        #sol {

          grid-area: sol;
        }

        #trekant {

          grid-area: trekant;
        }
        /* Illustrator Grid slut*/

        .il {

          width:70%;
        }
        .cs {

          width: 50%;
        }
    
                
        iframe {
          display: block;
          margin: 0 auto;
          height:600px;
          width: 800px;
        }
